<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.mapper.FaceNodeMapper">
    <sql id="sqlColumn">
        id,
		name,
		device_code,
		iot_node_type,
		iot_protocal_category,
		seq,
		scene_id,
		delete_flag,
		iot_node_status,
		template_id,
		img_id,
		dis_img,
		maintenance_time,
		point,
		infos,
		frequency,
		aid,
		atime,
		mid,
		mtime,
		visualcode,
		address,
		qr_code,
		ip,
		port,
		username,
		password,
		
    </sql>

    <select id="selectByConditions" resultType="com.yao.entity.FaceNode">
        select
            <include refid="sqlColumn"/>
        from
            iot_face_node_info
        <where>
            <if test="facenode != null">
				<if test="facenode.id != null and facenode.id != ''">
					 and id = #{facenode.id}
				</if>
				<if test="facenode.name != null and facenode.name != ''">
					 and name = #{facenode.name}
				</if>
				<if test="facenode.device_code != null and facenode.device_code != ''">
					 and device_code = #{facenode.device_code}
				</if>
				<if test="facenode.iot_node_type != null">
					 and iot_node_type = #{facenode.iot_node_type}
				</if>
				<if test="facenode.iot_protocal_category != null and facenode.iot_protocal_category != ''">
					 and iot_protocal_category = #{facenode.iot_protocal_category}
				</if>
				<if test="facenode.seq != null">
					 and seq = #{facenode.seq}
				</if>
				<if test="facenode.scene_id != null">
					 and scene_id = #{facenode.scene_id}
				</if>
				<if test="facenode.delete_flag != null">
					 and delete_flag = #{facenode.delete_flag}
				</if>
				<if test="facenode.iot_node_status != null">
					 and iot_node_status = #{facenode.iot_node_status}
				</if>
				<if test="facenode.template_id != null">
					 and template_id = #{facenode.template_id}
				</if>
				<if test="facenode.img_id != null">
					 and img_id = #{facenode.img_id}
				</if>
				<if test="facenode.dis_img != null and facenode.dis_img != ''">
					 and dis_img = #{facenode.dis_img}
				</if>
				<if test="facenode.maintenance_time != null">
					 and maintenance_time = #{facenode.maintenance_time}
				</if>
				<if test="facenode.point != null and facenode.point != ''">
					 and point = #{facenode.point}
				</if>
				<if test="facenode.infos != null and facenode.infos != ''">
					 and infos = #{facenode.infos}
				</if>
				<if test="facenode.frequency != null">
					 and frequency = #{facenode.frequency}
				</if>
				<if test="facenode.aid != null">
					 and aid = #{facenode.aid}
				</if>
				<if test="facenode.atime != null">
					 and atime = #{facenode.atime}
				</if>
				<if test="facenode.mid != null">
					 and mid = #{facenode.mid}
				</if>
				<if test="facenode.mtime != null">
					 and mtime = #{facenode.mtime}
				</if>
				<if test="facenode.visualcode != null and facenode.visualcode != ''">
					 and visualcode = #{facenode.visualcode}
				</if>
				<if test="facenode.address != null and facenode.address != ''">
					 and address = #{facenode.address}
				</if>
				<if test="facenode.qr_code != null and facenode.qr_code != ''">
					 and qr_code = #{facenode.qr_code}
				</if>
				<if test="facenode.ip != null and facenode.ip != ''">
					 and ip = #{facenode.ip}
				</if>
				<if test="facenode.port != null">
					 and port = #{facenode.port}
				</if>
				<if test="facenode.username != null and facenode.username != ''">
					 and username = #{facenode.username}
				</if>
				<if test="facenode.password != null and facenode.password != ''">
					 and password = #{facenode.password}
				</if>

            </if>
        </where>
        order by create_time desc
        <if test="page != null">
            <if test="page.pageSize != null and page.pageNum != null">
                limit #{page.pageNum},#{page.pageSize}
            </if>
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
            iot_face_node_info
        (
        <trim suffixOverrides=",">
				<if test="id != null and id != ''">
					id,
				</if>
				<if test="name != null and name != ''">
					name,
				</if>
				<if test="device_code != null and device_code != ''">
					device_code,
				</if>
				<if test="iot_node_type != null">
					iot_node_type,
				</if>
				<if test="iot_protocal_category != null and iot_protocal_category != ''">
					iot_protocal_category,
				</if>
				<if test="seq != null">
					seq,
				</if>
				<if test="scene_id != null">
					scene_id,
				</if>
				<if test="delete_flag != null">
					delete_flag,
				</if>
				<if test="iot_node_status != null">
					iot_node_status,
				</if>
				<if test="template_id != null">
					template_id,
				</if>
				<if test="img_id != null">
					img_id,
				</if>
				<if test="dis_img != null and dis_img != ''">
					dis_img,
				</if>
				<if test="maintenance_time != null">
					maintenance_time,
				</if>
				<if test="point != null and point != ''">
					point,
				</if>
				<if test="infos != null and infos != ''">
					infos,
				</if>
				<if test="frequency != null">
					frequency,
				</if>
				<if test="aid != null">
					aid,
				</if>
				<if test="atime != null">
					atime,
				</if>
				<if test="mid != null">
					mid,
				</if>
				<if test="mtime != null">
					mtime,
				</if>
				<if test="visualcode != null and visualcode != ''">
					visualcode,
				</if>
				<if test="address != null and address != ''">
					address,
				</if>
				<if test="qr_code != null and qr_code != ''">
					qr_code,
				</if>
				<if test="ip != null and ip != ''">
					ip,
				</if>
				<if test="port != null">
					port,
				</if>
				<if test="username != null and username != ''">
					username,
				</if>
				<if test="password != null and password != ''">
					password,
				</if>

        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
				<if test="id != null and id != ''">
					 #{id},
				</if>
				<if test="name != null and name != ''">
					 #{name},
				</if>
				<if test="device_code != null and device_code != ''">
					 #{device_code},
				</if>
				<if test="iot_node_type != null">
					 #{iot_node_type},
				</if>
				<if test="iot_protocal_category != null and iot_protocal_category != ''">
					 #{iot_protocal_category},
				</if>
				<if test="seq != null">
					 #{seq},
				</if>
				<if test="scene_id != null">
					 #{scene_id},
				</if>
				<if test="delete_flag != null">
					 #{delete_flag},
				</if>
				<if test="iot_node_status != null">
					 #{iot_node_status},
				</if>
				<if test="template_id != null">
					 #{template_id},
				</if>
				<if test="img_id != null">
					 #{img_id},
				</if>
				<if test="dis_img != null and dis_img != ''">
					 #{dis_img},
				</if>
				<if test="maintenance_time != null">
					 #{maintenance_time},
				</if>
				<if test="point != null and point != ''">
					 #{point},
				</if>
				<if test="infos != null and infos != ''">
					 #{infos},
				</if>
				<if test="frequency != null">
					 #{frequency},
				</if>
				<if test="aid != null">
					 #{aid},
				</if>
				<if test="atime != null">
					 #{atime},
				</if>
				<if test="mid != null">
					 #{mid},
				</if>
				<if test="mtime != null">
					 #{mtime},
				</if>
				<if test="visualcode != null and visualcode != ''">
					 #{visualcode},
				</if>
				<if test="address != null and address != ''">
					 #{address},
				</if>
				<if test="qr_code != null and qr_code != ''">
					 #{qr_code},
				</if>
				<if test="ip != null and ip != ''">
					 #{ip},
				</if>
				<if test="port != null">
					 #{port},
				</if>
				<if test="username != null and username != ''">
					 #{username},
				</if>
				<if test="password != null and password != ''">
					 #{password},
				</if>

        </trim>
        )
    </insert>

    <update id="update" parameterType="com.yao.entity.FaceNode">
        update
            iot_face_node_info
        <set>
				<if test="id != null and id != ''">
					id = #{id},
				</if>
				<if test="name != null and name != ''">
					name = #{name},
				</if>
				<if test="device_code != null and device_code != ''">
					device_code = #{device_code},
				</if>
				<if test="iot_node_type != null">
					iot_node_type = #{iot_node_type},
				</if>
				<if test="iot_protocal_category != null and iot_protocal_category != ''">
					iot_protocal_category = #{iot_protocal_category},
				</if>
				<if test="seq != null">
					seq = #{seq},
				</if>
				<if test="scene_id != null">
					scene_id = #{scene_id},
				</if>
				<if test="delete_flag != null">
					delete_flag = #{delete_flag},
				</if>
				<if test="iot_node_status != null">
					iot_node_status = #{iot_node_status},
				</if>
				<if test="template_id != null">
					template_id = #{template_id},
				</if>
				<if test="img_id != null">
					img_id = #{img_id},
				</if>
				<if test="dis_img != null and dis_img != ''">
					dis_img = #{dis_img},
				</if>
				<if test="maintenance_time != null">
					maintenance_time = #{maintenance_time},
				</if>
				<if test="point != null and point != ''">
					point = #{point},
				</if>
				<if test="infos != null and infos != ''">
					infos = #{infos},
				</if>
				<if test="frequency != null">
					frequency = #{frequency},
				</if>
				<if test="aid != null">
					aid = #{aid},
				</if>
				<if test="atime != null">
					atime = #{atime},
				</if>
				<if test="mid != null">
					mid = #{mid},
				</if>
				<if test="mtime != null">
					mtime = #{mtime},
				</if>
				<if test="visualcode != null and visualcode != ''">
					visualcode = #{visualcode},
				</if>
				<if test="address != null and address != ''">
					address = #{address},
				</if>
				<if test="qr_code != null and qr_code != ''">
					qr_code = #{qr_code},
				</if>
				<if test="ip != null and ip != ''">
					ip = #{ip},
				</if>
				<if test="port != null">
					port = #{port},
				</if>
				<if test="username != null and username != ''">
					username = #{username},
				</if>
				<if test="password != null and password != ''">
					password = #{password},
				</if>

        </set>
        where
            id = #{id}
    </update>

    <delete id="delete">
        delete from
            iot_face_node_info
        where
            id = #{id}
    </delete>

</mapper>