<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.mapper.IndicatorMapper">
    <sql id="sqlColumn">
        id,
		videoNo,
		is_indicator,
		
    </sql>

    <select id="selectByConditions" resultType="com.example.generator.entity.Indicator">
        select
            <include refid="sqlColumn"/>
        from
            video_indicator_flag
        <where>
            <if test="indicator != null">
				<if test="indicator.id != null and indicator.id != ''">
					 and id = #{indicator.id}
				</if>
				<if test="indicator.videoNo != null and indicator.videoNo != ''">
					 and videoNo = #{indicator.videoNo}
				</if>
				<if test="indicator.is_indicator != null">
					 and is_indicator = #{indicator.is_indicator}
				</if>

            </if>
        </where>
        order by create_time desc
        <if test="page != null">
            <if test="page.pageSize != null and page.pageNum != null">
                limit #{page.pageNum},#{page.pageSize}
            </if>
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
            video_indicator_flag
        (
        <trim suffixOverrides=",">
				<if test="id != null and id != ''">
					id,
				</if>
				<if test="videoNo != null and videoNo != ''">
					videoNo,
				</if>
				<if test="is_indicator != null">
					is_indicator,
				</if>

        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
				<if test="id != null and id != ''">
					 #{id},
				</if>
				<if test="videoNo != null and videoNo != ''">
					 #{videoNo},
				</if>
				<if test="is_indicator != null">
					 #{is_indicator},
				</if>

        </trim>
        )
    </insert>

    <update id="update" parameterType="com.example.generator.entity.Indicator">
        update
            video_indicator_flag
        <set>
				<if test="id != null and id != ''">
					id = #{id},
				</if>
				<if test="videoNo != null and videoNo != ''">
					videoNo = #{videoNo},
				</if>
				<if test="is_indicator != null">
					is_indicator = #{is_indicator},
				</if>

        </set>
        where
            id = #{id}
    </update>

    <delete id="delete">
        delete from
            video_indicator_flag
        where
            id = #{id}
    </delete>

</mapper>