<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.generator.mapper.NodeInfoMapper">
    <sql id="sqlColumn">
        id,
		name,
		device_code,
		iot_node_type,
		iot_protocal_category,
		seq,
		scene_id,
		delete_flag,
		iot_node_status,
		template_id,
		img_id,
		dis_img,
		maintenance_time,
		lonLat,
		infos,
		frequency,
		aid,
		atime,
		mid,
		mtime,
		visualcode,
		address,
		qr_code
    </sql>

    <select id="selectByConditions" resultType="com.yao.common.entity.NodeInfo">
        select
            <include refid="sqlColumn"/>
        from
            iot_node_info
        <where>
            <if test="nodeinfo != null">
				<if test="nodeinfo.id != null and nodeinfo.id != ''">
					 and id = #{nodeinfo.id}
				</if>
				<if test="nodeinfo.name != null and nodeinfo.name != ''">
					 and name like concat('%', #{nodeinfo.name},'%')
				</if>
				<if test="nodeinfo.device_code != null and nodeinfo.device_code != ''">
					 and device_code = #{nodeinfo.device_code}
				</if>
				<if test="nodeinfo.iot_node_type != null and nodeinfo.iot_node_type != ''">
					 and iot_node_type = #{nodeinfo.iot_node_type}
				</if>
				<if test="nodeinfo.iot_protocal_category != null and nodeinfo.iot_protocal_category != ''">
					 and iot_protocal_category = #{nodeinfo.iot_protocal_category}
				</if>
				<if test="nodeinfo.seq != null and nodeinfo.seq != ''">
					 and seq = #{nodeinfo.seq}
				</if>
				<if test="nodeinfo.scene_id != null and nodeinfo.scene_id != ''">
					 and scene_id = #{nodeinfo.scene_id}
				</if>
				<if test="nodeinfo.delete_flag != null and nodeinfo.delete_flag != ''">
					 and delete_flag = #{nodeinfo.delete_flag}
				</if>
				<if test="nodeinfo.iot_node_status != null and nodeinfo.iot_node_status != ''">
					 and iot_node_status = #{nodeinfo.iot_node_status}
				</if>
				<if test="nodeinfo.template_id != null and nodeinfo.template_id != ''">
					 and template_id = #{nodeinfo.template_id}
				</if>
				<if test="nodeinfo.img_id != null and nodeinfo.img_id != ''">
					 and img_id = #{nodeinfo.img_id}
				</if>
				<if test="nodeinfo.dis_img != null and nodeinfo.dis_img != ''">
					 and dis_img = #{nodeinfo.dis_img}
				</if>
				<if test="nodeinfo.maintenance_time != null">
					 and maintenance_time = #{nodeinfo.maintenance_time}
				</if>
				<if test="nodeinfo.lonLat != null and nodeinfo.lonLat != ''">
					 and lonLat = #{nodeinfo.lonLat}
				</if>
				<if test="nodeinfo.infos != null and nodeinfo.infos != ''">
					 and infos = #{nodeinfo.infos}
				</if>
				<if test="nodeinfo.frequency != null and nodeinfo.frequency != ''">
					 and frequency = #{nodeinfo.frequency}
				</if>
				<if test="nodeinfo.aid != null and nodeinfo.aid != ''">
					 and aid = #{nodeinfo.aid}
				</if>
				<if test="nodeinfo.atime != null">
					 and atime = #{nodeinfo.atime}
				</if>
				<if test="nodeinfo.mid != null and nodeinfo.mid != ''">
					 and mid = #{nodeinfo.mid}
				</if>
				<if test="nodeinfo.mtime != null">
					 and mtime = #{nodeinfo.mtime}
				</if>
				<if test="nodeinfo.visualcode != null and nodeinfo.visualcode != ''">
					 and visualcode = #{nodeinfo.visualcode}
				</if>
				<if test="nodeinfo.address != null and nodeinfo.address != ''">
					 and address = #{nodeinfo.address}
				</if>
				<if test="nodeinfo.qr_code != null and nodeinfo.qr_code != ''">
					 and qr_code = #{nodeinfo.qr_code}
				</if>

            </if>
        </where>
        order by create_time desc
        <if test="page != null">
            <if test="page.pageSize != null and page.pageNum != null">
                limit #{page.pageNum},#{page.pageSize}
            </if>
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        insert into
            iot_node_info
        (
        <trim suffixOverrides=",">
				<if test="name != null and name != ''">
					name,
				</if>
				<if test="device_code != null and device_code != ''">
					device_code,
				</if>
				<if test="iot_node_type != null and iot_node_type != ''">
					iot_node_type,
				</if>
				<if test="iot_protocal_category != null and iot_protocal_category != ''">
					iot_protocal_category,
				</if>
				<if test="seq != null and seq != ''">
					seq,
				</if>
				<if test="scene_id != null and scene_id != ''">
					scene_id,
				</if>
				<if test="delete_flag != null and delete_flag != ''">
					delete_flag,
				</if>
				<if test="iot_node_status != null and iot_node_status != ''">
					iot_node_status,
				</if>
				<if test="template_id != null and template_id != ''">
					template_id,
				</if>
				<if test="img_id != null and img_id != ''">
					img_id,
				</if>
				<if test="dis_img != null and dis_img != ''">
					dis_img,
				</if>
				<if test="maintenance_time != null">
					maintenance_time,
				</if>
				<if test="lonLat != null and lonLat != ''">
					lonLat,
				</if>
				<if test="infos != null and infos != ''">
					infos,
				</if>
				<if test="frequency != null and frequency != ''">
					frequency,
				</if>
				<if test="aid != null and aid != ''">
					aid,
				</if>
					atime,
				<if test="mid != null and mid != ''">
					mid,
				</if>
				<if test="visualcode != null and visualcode != ''">
					visualcode,
				</if>
				<if test="address != null and address != ''">
					address,
				</if>
				<if test="qr_code != null and qr_code != ''">
					qr_code,
				</if>

        </trim>
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            <trim suffixOverrides=",">
    				<if test="name != null">
					 #{name},
				</if>
				<if test="device_code != null">
					 #{device_code},
				</if>
				<if test="iot_node_type != null">
					 #{iot_node_type},
				</if>
				<if test="iot_protocal_category != null">
					 #{iot_protocal_category},
				</if>
				<if test="seq != null">
					 #{seq},
				</if>
				<if test="scene_id != null">
					 #{scene_id},
				</if>
				<if test="delete_flag != null">
					 #{delete_flag},
				</if>
				<if test="iot_node_status != null">
					 #{iot_node_status},
				</if>
				<if test="template_id != null">
					 #{template_id},
				</if>
				<if test="img_id != null">
					 #{img_id},
				</if>
				<if test="dis_img != null">
					 #{dis_img},
				</if>
				<if test="maintenance_time != null">
					 #{maintenance_time},
				</if>
				<if test="lonLat != null">
					 #{lonLat},
				</if>
				<if test="infos != null">
					 #{infos},
				</if>
				<if test="frequency != null">
					 #{frequency},
				</if>
				<if test="aid != null">
					 #{aid},
				</if>
					now(),
				<if test="mid != null">
					 #{mid},
				</if>
				<if test="visualcode != null">
					 #{visualcode},
				</if>
				<if test="address != null">
					 #{address},
				</if>
				<if test="qr_code != null">
					 #{qr_code},
				</if>

            </trim>
            )
        </foreach>
    </insert>

    <update id="update">
        update
            iot_node_info
        <set>
				<if test="name != null and name != ''">
					name = #{name},
				</if>
				<if test="device_code != null and device_code != ''">
					device_code = #{device_code},
				</if>
				<if test="iot_node_type != null and iot_node_type != ''">
					iot_node_type = #{iot_node_type},
				</if>
				<if test="iot_protocal_category != null and iot_protocal_category != ''">
					iot_protocal_category = #{iot_protocal_category},
				</if>
				<if test="seq != null and seq != ''">
					seq = #{seq},
				</if>
				<if test="scene_id != null and scene_id != ''">
					scene_id = #{scene_id},
				</if>
				<if test="delete_flag != null and delete_flag != ''">
					delete_flag = #{delete_flag},
				</if>
				<if test="iot_node_status != null and iot_node_status != ''">
					iot_node_status = #{iot_node_status},
				</if>
				<if test="template_id != null and template_id != ''">
					template_id = #{template_id},
				</if>
				<if test="img_id != null and img_id != ''">
					img_id = #{img_id},
				</if>
				<if test="dis_img != null and dis_img != ''">
					dis_img = #{dis_img},
				</if>
				<if test="maintenance_time != null">
					maintenance_time = #{maintenance_time},
				</if>
				<if test="lonLat != null and lonLat != ''">
					lonLat = #{lonLat},
				</if>
				<if test="infos != null and infos != ''">
					infos = #{infos},
				</if>
				<if test="frequency != null and frequency != ''">
					frequency = #{frequency},
				</if>
				<if test="aid != null and aid != ''">
					aid = #{aid},
				</if>
				<if test="mid != null and mid != ''">
					mid = #{mid},
				</if>
				<if test="mtime != null">
					mtime = now(),
				</if>
				<if test="visualcode != null and visualcode != ''">
					visualcode = #{visualcode},
				</if>
				<if test="address != null and address != ''">
					address = #{address},
				</if>
				<if test="qr_code != null and qr_code != ''">
					qr_code = #{qr_code},
				</if>

        </set>
        where
            id = #{id}
    </update>

    <delete id="delete">
        delete from
            iot_node_info
        where
            id = #{id}
    </delete>

</mapper>